$body_width : 100vw;
$body_height:100vh;
$navbar_height:55px;
@media all and (max-width: 500px) and (min-height: 320px){
  body{
    font-size: 45px;
  }
  .calculator-box{
    margin-top: $navbar_height;
    position: absolute;
    bottom: 0px;
    width: $body_width;
    height:calc(#{$body_height} - #{$navbar_height});
  }
  .calculator {
    width: 100%;
    height: 80%;
    border:1px solid black;
    height: 60%;
    position: fixed;
    bottom: 0px;
  }
  .calc {
    position: absolute;
    bottom: 0px;
    height: 60%;
  }
  .num-btn{
    width: calc(#{$body_width} / 4);
  }
  .output {
    width: $body_width;
    height: 30%;
  }
  .calculator-history {
    padding: 0.5em !important;
    height: inherit;
    overflow: auto;
}
  .outer-history{
    height: 30vh !important;
    width: $body_width;
  }

}
@media (min-width:501px){
  .calculator-box{
    padding-top:5em;
  }
  .calculator-history{
    padding: 3em;
    display: block;
    overflow: auto;
    max-height: 50vh;
  }
  .calc{
    height: 70%;
  }
}
body{
  width:$body_width;
  height: $body_height;
  font-size: large;
  margin: 0;
  padding: 0;
}
.root{
  display: inherit;
  width: inherit;
  height: inherit;
}
.calculator-box {
  
  width: 100%;
  display: flex;
  align-items: center;
  flex-direction: column;
}
.calculator {
  border:1px solid black;
}
/**
buttons
*/
.calc {
  width: 100%;
  display: grid;
  grid-template-columns: auto auto auto auto;
  justify-content: center;
  
}
.num-btn{
  background-color: grey;
  margin: 1px;
}
.MuiButton-root{
  width: 100%;
  height: 100%;
}
.output {
  display: flex;
  height: 30%;
  padding: 1em;
}
.output div {
  flex-basis: 3em;
}

.output .task{
  flex-shrink: 1;
}
.calc-history-item{
  padding:1em
}

.calc-history{
  display: flex;
  flex-direction: column-reverse;
  
}
